$font-family-opensans: "Open Sans";
$font-family-sourcesans: "Source Sans Pro";
$color-accent-white: #fff;
$color-accent-strong-white: #f4f5f9;
$color-accent-light-white: #cbc6c0;
$color-primary-black: #000000;
$color-red: #e74c3c;
$color-dark-gray: #6a6a6a;
$color-light-gray: #999999;
